@model ShepherdsLittleHelper.Models.PetType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PetTypeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PetTypeDescription)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.PetTypeID }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
