@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title</h2>

    <p>
        Shepherd's Little Helper was originally imagined as an app to help smaller, less well-known animal shelters organize the pets in their care.
    Later on, we realized it could also be used by families and farmers for their pets and livestock. Membership to Shepherd's Little Helper is free, 
    for both individuals and organizations, and provides access to our full suite of features.
    <br />
    As of December 2016, Shepherd's Little Helper is used by making or being added to a group and creating locations to house your pets. 
    From there, you can add tasks specific to one pet, (ie: give Gus his medicine, play with Oz,) or to a location (ie: fill the water bowl for all the pets in the house). 
    Tasks can be marked off as done, and tasks with a recurring frequency will update automatically.
    </p>