@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row container text-center about-page">
    <div class="col-sm-4 col-xs-12 img-responsive about-img">
        <img src="http://placehold.it/350x150" />
    </div>
    <div class="col-sm-2 col-xs-6">
        <h4>Valerie Shoskes</h4>
        <a href="https://www.linkedin.com/in/valerie-shoskes"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
        <br />
        <a href="https://github.com/valerieshoskes"><i class="fa fa-github"></i> GitHub</a>
    </div>
    <div class="col-sm-2 col-xs-6">
        <h4>Kurt Weber</h4>
        <a href="https://www.linkedin.com/in/kurt-weber"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
        <br />
        <a href="https://github.com/KurtWeber"><i class="fa fa-github"></i> GitHub</a>
    </div>
    <div class="col-sm-2 col-xs-6">
        <h4>Jason Sirirathasuk</h4>
        <a href="https://www.linkedin.com/in/jsirirathasuk"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
        <br />
        <a href="https://github.com/jsirirathasuk"><i class="fa fa-github"></i> GitHub</a>
    </div>
    <div class="col-sm-2 col-xs-6">
        <h4>David Theobald</h4>
        <a href="https://www.linkedin.com/in/david-theobald"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
        <br />
        <a href="https://github.com/dtheobald58"><i class="fa fa-github"></i> GitHub</a>
    </div>
</div>