@{
    ViewBag.Title = "Contact";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<h2>@ViewBag.Title.</h2>

<div class="row container text-center about-page">
    <div class="col-sm-4 col-xs-12 img-responsive">
        <img class="about-img" src="~/Images/group-img.jpg" />
    </div>
    <div class="col-sm-2 col-xs-6">
        <h4>Valerie<br />Shoskes</h4>
        <a href="https://www.linkedin.com/in/valerie-shoskes"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
        <br />
        <a href="https://github.com/valerieshoskes"><i class="fa fa-github"></i> GitHub</a>
    </div>
    <div class="col-sm-2 col-xs-6">
        <h4>Kurt<br />Weber</h4>
        <a href="https://www.linkedin.com/in/kurt-weber"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
        <br />
        <a href="https://github.com/KurtWeber"><i class="fa fa-github"></i> GitHub</a>
    </div>
    <div class="col-sm-2 col-xs-6">
        <h4>Jason<br />Sirirathasuk</h4>
        <a href="https://www.linkedin.com/in/jsirirathasuk"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
        <br />
        <a href="https://github.com/jsirirathasuk"><i class="fa fa-github"></i> GitHub</a>
    </div>
    <div class="col-sm-2 col-xs-6">
        <h4>David<br />Theobald</h4>
        <a href="https://www.linkedin.com/in/david-theobald"><i class="fa fa-linkedin-square"></i> LinkedIn</a>
        <br />
        <a href="https://github.com/dtheobald58"><i class="fa fa-github"></i> GitHub</a>
    </div>
</div>