@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>About</h2>
    <p>Learn more about how <i>Shepherd's Little Helper</i> can help you take care of your furry friends.</p>
    <p><a class="btn btn-default" href="~/Home/About">Learn more <span aria-hidden="true"><img src="~/Content/octicons/info.svg" /></span></a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Login</h2>
        <p>If you are a returning user, please log in.</p>
        <p><a class="btn btn-default" href="~/Account/Login">Log In <span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></p>
    </div>
    <div class="col-md-4">
        <h2>Register</h2>
        <p>If you are new to <i>Shepherd's Little Helper</i> please register.</p>
        <p><a class="btn btn-default" href="~/Account/Register">Register <span aria-hidden="true"><img src="~/Content/octicons/clippy.svg"/></span></a></p>
    </div>
    <div class="col-md-4">
       
    </div>
</div>