@{
    ViewBag.Title = "Home Page";
}



@* 
    put the two option in a col-sm-6 & col-xsm-6
    split into ends of the jumbtron
    add DDL for actions (task,pets, etc)    

 *@
<div class="jumbotron img-responsive" >
    <div id="jumbText">
        <h2>About</h2>
        <p>Learn more about how <i>Shepherd's Little Helper</i> can help you take care of your furry friends.</p>
    </div>
    <p><br /><a class="btn btn-default index-btns" id="learn-btn" href="~/Home/About">Learn more <span aria-hidden="true"><img src="~/Content/octicons/info.svg" /></span></a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Login</h2>
        <p>If you are a returning user, please log in.</p>
        <p><a class="btn btn-default index-btns" href="~/Account/Login">Log In <span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></p>
   </div>
    <div class="col-md-4">
        </div>
    <div class="col-md-4">
        <h2>Register</h2>
        <p>If you are new to <i>Shepherd's Little Helper</i> please register.</p>
        <p><a class="btn btn-default index-btns" href="~/Account/Register">Register <span aria-hidden="true"><img src="~/Content/octicons/clippy.svg"/></span></a></p>
    </div>
    <div class="col-md-4">
       
    </div>
</div>