@{
    ViewBag.Title = "Navigator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="row container">
    <div class="col-xs-12 col-sm-6 col-md-4" id="tasks-tile">
        <div class="tile-content text-center">
            <h2>Tasks</h2>
            <p>View, add, modify, remove tasks.</p>
            <p>
                <a class="btn btn-default nav-page-btns" href="~/PetTasks/Index"><span aria-hidden="true"><img src="~/Content/octicons/tasklist.svg" /></span> Pet tasks</a>
                <a class="btn btn-default nav-page-btns" href="~/LocationTasks/Index"><span aria-hidden="true"><img src="~/Content/octicons/tasklist.svg" /></span> Location tasks</a>
            </p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4" id="pets-tile">
        <div class="tile-content text-center">
            <h2>Pets</h2>
            <p>View, add, modify, remove pets.</p>
            <p><a class="btn btn-default nav-page-btns" href="~/Pets/Index"><span aria-hidden="true"><img src="~/Content/octicons/bug.svg" /></span> Pets</a></p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4" id="locations-tile">
        <div class="tile-content text-center">
            <h2>Locations</h2>
            <p>View, add, modify, remove locations.</p>
            <p><a class="btn btn-default nav-page-btns" href="~/Locations/Index"><span aria-hidden="true"><img src="~/Content/octicons/location.svg" /></span> Locations</a></p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4" id="task-types-tile">
        <div class="tile-content text-center">
            <h2>Task Types</h2>
            <p>View, add, modify, remove task types.</p>
            <p><a class="btn btn-default nav-page-btns" href="~/TaskTypes/Index"><i class="fa fa-tasks"></i> Task Types</a></p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4" id="pet-types-tile">
        <div class="tile-content text-center">
            <h2>Pet Types</h2>
            <p>View, add, modify, pet types (cat, dog, etc).</p>
            <p><a class="btn btn-default nav-page-btns" href="~/PetTypes/Index"><i class="fa fa-paw"></i> Pet Types</a></p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4" id="groups-tile">
        <div class="tile-content text-center">
            <h2>Groups</h2>
            <p> View, add, modify, groups.</p>
            <p><a class="btn btn-default nav-page-btns" href="~/Groups/Index"><i class="fa fa-users"></i> Groups</a></p>

        </div>
    </div>
</div>