/*COLORS
    light blue = a1d7d7 and 161, 215, 215
    light green = bfe1bf and 191, 225, 191
    light grey = ededed and 237, 237, 237
    yellow = fdd059 and 253, 208, 89
    red = df5842 and 223, 88, 66
    petfinder bg color : edece8

*/
.page-header{
    background-color:white;
    font-family: 'Yellowtail', cursive;
    font-size:24px;
    text-align:center;
    margin-top:0px;
}
.navbar{
    margin-bottom:0px;
}
#loginText{
   position:absolute;
   top:0;
   right:0;
   font-size:15px;
}
#headerAction{
    width:50%;
}
.jumbotron{
    background-image: url("/Images/collage2-min.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    
}
#jumbText{
    background-color:rgba(237,237,234,0.8);
    width:85%;
    padding-left:1em;
    padding-top:1px;
    padding-bottom:1px;   
    text-align:center;
    display:inline-block;
    position:center;
}
#logoCaps{
    font-size:30px;
}

/*^^^^INDEX PAGE^^^^*/

.about-page a:hover{
   text-decoration:none;
   color:#fdd059 ;
}
.about-img{
   max-width:90%;
}
/*^^^^ABOUT PAGE^^^^*/

.tile-content{
   position:absolute;
   top:50%;
   left:50%;
   height:200px;
   width:98%;
   margin-top:-75px;
   margin-left:-50%;
}
#tasks-tile{
   height:225px;
   background-image:url("../Images/bowl-min.jpg");
   background-size:cover;
   position:relative;
   color:white;
   border:solid 15px #a1d7d7 ;
}
#pets-tile{
   height:225px;
   background-image:url("../Images/petblur-min.jpg");
   background-size:cover;
   position:relative;
   color:white;
   border:solid 15px #df5842 ;
}
#locations-tile{
   height:225px;
   background-image:url("../Images/Doghouse-min.jpg");
   background-size:cover;
   position:relative;
   color:white;
   border:solid 15px #bfe1bf ;
}
#task-types-tile{
   height:225px;
   background-image:url("../Images/Pre_Trip_Checklist_(5161314421)-min.jpg");
   background-size:cover;
   position:relative;
   color:black;
   border:solid 15px #ededed ;
}
#pet-types-tile{
   height:225px;
   background-image:url("../Images/dna-min.jpg");
   background-size:cover;
   position:relative;
   color:black;
   border:solid 15px #fdd059 ;
}
#groups-tile{
   height:225px;
   background-image:url("../Images/group-min.jpg");
   background-size:cover;
   position:relative;
   color:white;
   border:solid 15px #000;
}
/*^^^^NAVGATION PAGE^^^^*/

#petPicture{
    max-width:95%;
    max-height:300px;
}
#petContainer{
    margin: 0 auto;
    display:block;
}
#petBoarder{
    border:1px solid gray;
    height:500px;
    text-align:center;
    padding-top:10px;
    margin:5px auto 0 auto;
    font-size:16px;
}
#petName{
    font-size:20px;
}
#petDisplay{
    font-weight:bold;
}
hr{
    display: block;
    margin: 0.5em auto 0.5em auto;
    border-style: inset;
    border-width: 1px;
}
/*^^^^PET VIEW^^^^*/

footer a:hover{
   text-decoration:none;
   color:#df5842 ;
}
/*^^^^FOOTER PAGE^^^^*/




/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^GENERATED CODE BELOW*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*CHANGED BG COLOR*/
    background-color: #edece8;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
