/*COLORS
    light blue = a1d7d7 and 161, 215, 215
    light green = bfe1bf and 191, 225, 191
    light grey = ededed and 237, 237, 237
    yellow = fdd059 and 253, 208, 89
    red = df5842 and 223, 88, 66
    petfinder bg color : edece8

*/
.navbar-header a{
    color:#df5842;
}
.page-header{
    background-color:white;
    font-family: 'Yellowtail', cursive;
    font-size:24px;
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding-bottom:0px;
    border-bottom:0px;
}
.xs-task-boxes{
    border:1px solid black;
}
/*Navbar*/
.navbar{
    margin-bottom:10px;
    border-radius:0px;
}
#contact-link{
    color:#a1d7d7;
}
#contact-link:hover{
    color:white;
    background-color:#4d4d4d;
}
#about-link{
    color:#bfe1bf;
}
#about-link:hover{
    color:white;
    background-color:#4d4d4d;
}
.navbar-brand{
    font-size:14px;
}
.navbar-inverse .navbar-brand{
    color:#df5842;
}
.navbar-inverse .navbar-brand:hover{
    color:white;
    background-color:#4d4d4d;
}
.navbar-inverse .navbar-nav > li > a {
    color:#fdd059;
}
.navbar-inverse .navbar-nav > li > a:hover{
    color:white;
    background-color:#4d4d4d;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fdd059;
}
.xs-task-boxes{
    border:1px solid black;
}
.jumbotron{
    background-image: url("/Images/collage2-min.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    
}
#jumbText{
    background-color:rgba(237,237,234,0.8);
    width:85%;
    padding-left:1em;
    padding-top:1px;
    padding-bottom:1px;   
    text-align:center;
    display:inline-block;
    position:center;
}
#logoCaps{
    font-size:30px;
}

/*^^^^INDEX PAGE^^^^*/

.about-page a:hover{
   text-decoration:none;
   color:#fdd059 ;
}
.about-img{
   max-width:90%;
}
/*^^^^ABOUT PAGE^^^^*/

.tile-content{
   position:absolute;
   top:50%;
   left:50%;
   height:200px;
   width:100%;
   margin-top:-75px;
   margin-left:-50%;
}
#tasks-tile{
   height:225px;
   background-image:url("../Images/bowl-min.jpg");
   background-size:cover;
   position:relative;
   color:white;
   border:solid 15px #a1d7d7 ;
}
#pets-tile{
   height:225px;
   background-image:url("../Images/petblur-min.jpg");
   background-size:cover;
   position:relative;
   color:white;
   border:solid 15px #df5842 ;
}
#locations-tile{
   height:225px;
   background-image:url("../Images/Doghouse-min.jpg");
   background-size:cover;
   position:relative;
   color:white;
   border:solid 15px #bfe1bf ;
}
#task-types-tile{
   height:225px;
   background-image:url("../Images/Pre_Trip_Checklist_(5161314421)-min.jpg");
   background-size:cover;
   position:relative;
   color:black;
   border:solid 15px #cccccc ;
}
#pet-types-tile{
   height:225px;
   background-image:url("../Images/dna-min.jpg");
   background-size:cover;
   position:relative;
   color:black;
   border:solid 15px #fdd059 ;
}
#groups-tile{
   height:225px;
   background-image:url("../Images/group-min.jpg");
   background-size:cover;
   position:relative;
   color:white;
   border:solid 15px #000;
}
/*^^^^NAVGATION PAGE^^^^*/

#groupIndex{
    margin-bottom:15px;
    border:1px solid black;
    font-size:15px;
}
/*^^^^GROUP PAGE^^^^*/
#locationIndex{
    margin-bottom:15px;
    border:1px solid black;
    font-size:15px;
}
#locationText{
    font-weight:bold;
}
/*^^^^LOCATION PAGE^^^^*/

#petPicture{
    max-width:95%;
    max-height:300px;
}
#petContainer{
    margin: 0 auto;
    display:block;
}
#petBoarder{
    border:1px solid gray;
    height:500px;
    text-align:center;
    padding-top:10px;
    margin:5px auto 0 auto;
    font-size:16px;
}
#petName{
    font-size:20px;
}
#petDisplay{
    font-weight:bold;
}
hr{
    display: block;
    margin: 0.5em auto 0.5em auto;
    border-style: inset;
    border-width: 1px;
}
/*^^^^PET VIEW^^^^*/

footer a:hover{
   text-decoration:none;
   color:#df5842 ;
}
/*^^^^FOOTER PAGE^^^^*/




/*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^GENERATED CODE BELOW*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
body {
    padding-bottom: 20px;
    /*CHANGED BG COLOR*/
    background-color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
